<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      POIApp
    </ion-title>
  </ion-toolbar>
  <ion-fab vertical="center" horizontal="end" slot="fixed">
      <ion-fab-button size="small" (click)="openAdmin()" color="danger">
        <ion-icon name="settings"></ion-icon>
      </ion-fab-button>
  </ion-fab>
</ion-header>

<ion-card>
    <ion-card-content>
        <ion-input [(ngModel)]="locString" placeholder="Enter Location"></ion-input>
        <ion-select [(ngModel)]="typeString" placeholder="Select a Type" interface="popover">
            <ion-select-option value="Park">Park</ion-select-option>
            <ion-select-option value="Nature">Nature</ion-select-option>
            <ion-select-option value="Plaza">Plaza</ion-select-option>
            <ion-select-option value="Sculpture">Sculpture</ion-select-option>
            <ion-select-option value="Museum">Museum</ion-select-option>
            <ion-select-option value="Building">Building</ion-select-option>
            <ion-select-option value="">Any Type</ion-select-option>
        </ion-select>

        <ion-fab vertical="center" horizontal="end" slot="fixed">
            <ion-fab-button size="small" (click)="saveLocation()" color="tertiary">
              <ion-icon name="search"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </ion-card-content>
</ion-card>
  
  <ion-content>
    <ion-card *ngFor="let poi of newPoi">
      <ion-card-content>
          <img style="-webkit-user-select: none;" src={{poi.image}} style="width:250px;height:200px;" class="center">
        <h2 text-center><b>{{ poi.name }}</b></h2>
        <h3 text-center>{{ poi.location }}</h3>
        <h3 text-center>{{ poi.type }}</h3>
        <h3 text-center>{{ poi.description }}</h3>
        <h3 text-center><a href={{poi.maps}} target="_blank">Maps</a><ion-icon name="navigate"></ion-icon></h3>
        <h3 text-center>ID: {{ poi._id }}</h3>
      </ion-card-content>
    </ion-card>
  </ion-content>


