<ion-header>
    <ion-toolbar>
      <ion-title text-center>
        {{titleName}}'s Tools
      </ion-title>
    </ion-toolbar>
    <ion-fab vertical="center" horizontal="beginning" slot="fixed">
      <ion-fab-button size="small" (click)="dismiss()" color="tertiary" title="Back">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-fab vertical="center" horizontal="end" slot="fixed">
        <ion-fab-button size="small" (click)="logout()" color="tertiary" title="Logout">
          <ion-icon name="exit"></ion-icon>
        </ion-fab-button>
    </ion-fab>
  </ion-header>

<ion-content>
  
    <ion-card>
        <ion-card-content>
            <h2>Delete</h2>
            <ion-input [(ngModel)]="deleteID" placeholder="ID"></ion-input>
  
            <ion-fab vertical="center" horizontal="end" slot="fixed">
                <ion-fab-button size="small" (click)="deletePOI()" color="danger" title="Delete">
                  <ion-icon name="trash"></ion-icon>
                </ion-fab-button>
            </ion-fab>
        </ion-card-content>
    </ion-card>
  
    <ion-card>
        <ion-card-content>
            <h2>Create</h2>
            <ion-input [(ngModel)]="addPOIName" placeholder="Name"></ion-input>
            <ion-input [(ngModel)]="addPOILocation" placeholder="Location"></ion-input>
            <ion-select [(ngModel)]="addPOIType" placeholder="Select a Type" interface="popover">
                <ion-select-option value="Park">Park</ion-select-option>
                <ion-select-option value="Nature">Nature</ion-select-option>
                <ion-select-option value="Plaza">Plaza</ion-select-option>
                <ion-select-option value="Sculpture">Sculpture</ion-select-option>
                <ion-select-option value="Museum">Museum</ion-select-option>
                <ion-select-option value="Building">Building</ion-select-option>
                <ion-select-option value="">Any Type</ion-select-option>
            </ion-select>
            <ion-input [(ngModel)]="addPOIDescription" placeholder="Description"></ion-input>
            <ion-input [(ngModel)]="addPOIImage" placeholder="Image URL"></ion-input>
            <ion-input [(ngModel)]="addPOIMaps" placeholder="Maps URL"></ion-input>
            
  
            <ion-fab vertical="center" horizontal="end" slot="fixed">
                <ion-fab-button size="small" (click)="createPOI()" color="tertiary" title="Create">
                  <ion-icon name="checkmark"></ion-icon>
                </ion-fab-button>
            </ion-fab>
        </ion-card-content>
    </ion-card>
  
    <ion-card>
        <ion-card-content>
            <h2>Update</h2>
            <ion-input [(ngModel)]="updateID" placeholder="ID"></ion-input>
            <ion-input [(ngModel)]="updatePOIName" placeholder="Name"></ion-input>
            <ion-input [(ngModel)]="updatePOILocation" placeholder="Location"></ion-input>
            <ion-select [(ngModel)]="updatePOIType" placeholder="Select a Type" interface="popover">
                <ion-select-option value="Park">Park</ion-select-option>
                <ion-select-option value="Nature">Nature</ion-select-option>
                <ion-select-option value="Plaza">Plaza</ion-select-option>
                <ion-select-option value="Sculpture">Sculpture</ion-select-option>
                <ion-select-option value="Museum">Museum</ion-select-option>
                <ion-select-option value="Building">Building</ion-select-option>
                <ion-select-option value="">Any Type</ion-select-option>
            </ion-select>
            <ion-input [(ngModel)]="updatePOIDescription" placeholder="Description"></ion-input>
            <ion-input [(ngModel)]="updatePOIImage" placeholder="Image URL"></ion-input>
            <ion-input [(ngModel)]="updatePOIMaps" placeholder="Maps URL"></ion-input>
  
            <ion-fab vertical="center" horizontal="end" slot="fixed">
                <ion-fab-button size="small" (click)="changePOI()" color="tertiary" title="Update">
                  <ion-icon name="checkmark"></ion-icon>
                </ion-fab-button>
            </ion-fab>
        </ion-card-content>
    </ion-card>

</ion-content>
